<div class="message-info message-success" style="display: none" data-bind="flash: { text: successMessage, duration: 4000 }"></div>
<div class="message-info message-error" style="display: none" data-bind="flash: { text: errorMessage, duration: 10000 }"></div>