<div class="ko-grid-pageLinks">
    <!-- ko foreach: ko.utils.range(0, maxPageIndex) -->
    <a href="#" data-bind="text: $data + 1, click: function() { $root.currentPageIndex($data) }, css: { selected: $data == $root.currentPageIndex() }"></a>
    <!-- /ko -->
</div>