@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.1.0.js")"></script> 
    <script type="text/javascript">
        var ProductsViewModel = function () {
            var self = this;

            self.itemNumber = function (index) {
                return index + 1;
            }

            self.currentPageIndex = ko.observable(0);
            self.pageSize = 10;
            self.products = new ko.observableArray();

            this.itemsOnCurrentPage = ko.computed(function () {
                var startIndex = self.pageSize * self.currentPageIndex();
                return self.products.slice(startIndex, startIndex + self.pageSize);
            }, self);

            this.maxPageIndex = ko.computed(function () {
                return Math.ceil(ko.utils.unwrapObservable(self.products).length / self.pageSize) - 1;
            }, self);

            $.getJSON("/api/productservice/getproducts", self.products);
        }

        ko.applyBindings(new ProductsViewModel());

   </script>

}

<h2>Index</h2>

<div>
    @Html.Partial("_Grid")
</div>

<div>
    @Html.Partial("_Paging")
</div>